.selectBox {
    max-width: 700px;
    width: 360px;
    height: 350px;
    margin: auto;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 7px;
    justify-content: center;
    box-shadow: 5px 5px 18px #9400d3;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* padding: 70px 0 70px 0; */
    text-align: center;
}

h3 {
    text-align: center;
    padding: 0px 0px 0px;
    margin: 20px 0px 50px;
    text-decoration: underline;
}

.radiobtn input {
   
    background: none;
    margin: 0px 25px 30px 25px;
    background-color: #bfbebe;
    height: 50px;
    width: 50px;
    border-radius: 7px;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.radiobtn label {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    border: 2px solid rgba(255, 255, 255);
    background-color: #bfbebe;
    font-weight: 600;
    font-size: 40px;
    margin: 20px 32px 0 32px;
    height: 100px;
    width: 100px;
    border-radius: 8px;
    padding:0 10px 0 10px;
}

 input:checked + .radioicon {
    border-color: #ff459f;
    border-width: 3px;
    box-shadow: 0 0 12px #ff459f;
}

.selectBox .icon {
    cursor: pointer;
    text-align: left;
    margin-right: 10px;
    margin-top: 20px;
    position: absolute;
    left: 20px;

}


.nextbtn button {
    width: 320px;
        margin: 120px 5px 20px 0px;
        background-color: #ff459f;
        border: none;
        color: white;
        padding: 15px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        -webkit-transition-duration: 0.4s;
        /* Safari */
        transition-duration: 0.4s;
        border-radius: 8px;
}